@model ContosoUniversity.Models.Instructor
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.FirstMidName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.HireDate)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeAssignment)
        </dt>
        @{
            if (Model.OfficeAssignment != null)
            {
                <dt class="col-sm-10">
                    @Html.DisplayFor(model => model.OfficeAssignment.Location)
                </dt>
            }
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseAssignments)
        </dt>
        <dt>
            @{
                if (Model.CourseAssignments != null)
                {
                    foreach (var item in Model.CourseAssignments)
                    {
                        <td>
                            @Html.DisplayFor(model => item.Course.CourseID)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Course)
                        </td>
                    }
                }                
            }
        </dt>
    </dl>
</div>